html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	font: 14px/1.5 "Microsoft Yahei";
	font-size: 62.5%;
	color: #333;
	background: #e4e4e4;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	word-wrap: break-word;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

ol,ul,menu {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

li,img,label,input {
	vertical-align: middle;
}

ins,del,i,s {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 { "Microsoft Yahei",SimHei;
	font-weight: normal;
	*font-weight: bold;
}

a,input,textarea {
	text-decoration: none;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
	color: #585858;
}

.clearfix:after,.head:after,#footer:after,.block:after,#pages:after,#tab:after,.tab:after,.formul:after,.formul li:after,.formul li .common:after,.formul li .common li:after,.form:after,.form li:after,.form li .common:after,.form li .common li:after,.transverse:after,.vertical:after
	{
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.clearfix,.head,#footer,.block,#pages,#tab,.tab,.formul,.formul li,.formul li .common,.formul li .common li,.form,.form li,.form li .common,.form li .common li,.transverse,.vertical
	{
	*zoom: 1;
	clear: left;
}

h1,big {
	font-size: 2.5em;
}

.tcenter {
	text-align: center;
}

.tright {
	text-align: right;
}

.tleft {
	text-align: left;
}

.bold {
	font-weight: bold;
}

blockquote,.block {
	padding: 1em 0;
}

.block {
	background: #fff;
	border: 1px solid #ccc;
}

.warning {
	font-size: 1.48em;
	background: #fff8c1;
	border: 1px solid #f07a77;
	text-align: center;
}

samp,em {
	padding: 0 0.3em;
	font-style: normal;
}

em {
	color: #d91010;
}

strong {
	font-weight: bold;
}

.error,.fail,.red,.warn {
	color: #c02a34;
}

a.red {
	color: #fb2509;
}

.success,.green,a.green {
	color: #1cae1c;
}

.orange {
	color: #f60;
}

.blue {
	color: #0073c3;
}

.gray {
	color: #666;
}

.oatmeal {
	color: #ccc;
}

.black {
	color: #3b3b3b;
}

.ftBig {
	font-size: 1.4em;
}

.push {
	margin: 10px;
}

.pushtH {
	margin-top: 0.5em !important;
}

.pusht {
	margin-top: 1em !important;
}

.pushr {
	margin-right: 10px;
}

.pushb {
	margin-bottom: 10px;
}

.pushl {
	margin-left: 1em;
}

.pusht20 {
	margin-top: 2em !important;
}

.pushb20 {
	margin-bottom: 20px;
}

.pusht30 {
	margin-top: 30px;
}

.pushb30 {
	margin-bottom: 30px;
}

.pusht60 {
	margin-top: 6em !important;
}

.noPush,.nopush {
	margin: 0 !important;
}

.fill {
	padding: 1em;
}

.fillL {
	padding-left: 0.7em;
}

.clearR,.clear_r {
	clear: right;
}

.clearL.clearl {
	clear: left;
}

.clear {
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
}

.left,.f_left {
	float: left;
}

.right,.f_right {
	float: right;
}

.show {
	display: block;
}

.hide {
	display: none;
}

input.short {
	border: 0 none;
	font-size: 0.8em;
	width: 3em;
	text-align: center;
}

.action,.icon,.inline,i {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}

.ico {
	padding: 0;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.4em;
	text-align: center;
	color: #fff;
	font-style: normal;
	border-radius: 0.2em;
}

.icoJi {
	background: #f770cf;
}

.icoDan {
	background: #4fc849;
}

.heart {
	position: relative;
	width: 1em;
	height: 0.9em;
	cursor: pointer;
}

.heart:before,.heart:after {
	position: absolute;
	content: "";
	left: 0.5em;
	top: 0;
	width: 0.5em;
	height: 0.8em;
	background: #c0c0c0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.htRed:before,.htRed:after {
	background: #fe6c00;
}

.cttBg {
	padding: 0.8em 1.5em;
	background: #fff;
}

.sbtn {
	padding: 0.2em 0.9em;
	color: #fff;
	font-style: normal;
	border-radius: 0.3em;
	background: #0073c3;
}

.sbtnOrange {
	background: #f60;
}

.sbtnGray {
	background: #c4c4c4;
}

.boxSize {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.indexWrap {
	margin: 0 auto;
	min-width: 320px;
	max-width: 720px;
	overflow: hidden;
}

.mainHd {
	height: 5em;
	background: #e4f2fc;
	border-bottom: 2px solid #5fa8da;
}

.mainHd h1 {
	padding: 0.5em 0 0 0.5em;
}

.mainHd .logo {
	display: block;
	width: 6em;
	height: 1.48em;
	text-indent: -9999em;
	line-height: 0;
	background: url(logo.png) left top no-repeat;
	-webkit-background-size: 5em auto;
	-moz-background-size: :5em auto;
	-o-background-size: 5em auto;
	background-size: 5em auto;
}

.mainHd .mNav {
	float: right;
	height: 5em;
	line-height: 5em;
}

.mainHd .mNav a {
	font-size: 1.6em;
	color: #575757;
	margin-right: 1em;
}

.sliderWrap {
	position: relative;
}

.sliderWrap a {
	display: block;
}

.mSorts {
	overflow: hidden;
}

.mSorts ul {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
}

.mSorts li {
	text-align: center;
	overflow: hidden;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1
}

.mSorts li:first-child {
	margin-right: 0.6em;
}

.mSorts li:last-child {
	margin-left: 0.6em;
}

.mSorts li a {
	display: block;
	overflow: hidden;
}

.mSorts li a img {
	max-width: 100%;
	height: auto;
}

.mSorts li a.pt {
	margin-top: 0.6em;
}

.searchWrap {
	position: relative;
	margin: 2em 0;
	padding: 0 2em;
}

.searchWrap .input {
	-moz-box-sizing: border-box;
	background: #fff;
	border: 1px solid #fff;
	color: #a3a3a3;
	font-size: 1.7em;
	height: 2.5em;
	padding: 0 2em 0 0.8em;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.searchWrap .searchbtn {
	font-size: 2em;
	color: #666;
	position: absolute;
	right: 2em;
	top: 0.28em;
}

.searchWrap .hotwords {
	margin: 0.5em 0;
	text-align: center;
}

.searchWrap .hotwords a {
	color: #2062c5;
	font-size: 1.35em;
	margin: 0 0.5em 0 0;
}

.searchInfo {
	padding: 5em 0 9em;
	text-align: center;
}

.searchInfo dt {
	font-size: 1.8em;
	margin-bottom: 0.6em;
}

.searchInfo dd {
	font-size: 1.45em;
}

.Mfoot {
	padding: 0.2em 0;
	text-align: center;
	font-size: 1.5em;
}

.Mfoot p {
	margin: 0 0 0.7em 0;
}

.Mfoot p.copyright {
	color: #aaa;
	font-size: 0.8em;
}

.Mfoot a {
	color: #666;
}

.Mfoot p.cp a {
	background: url(computer.png) no-repeat 0 50%;
	-webkit-background-size: 1.16667em .86667em;
	-moz-background-size: 1.16667em .86667em;
	-o-background-size: 1.16667em .86667em;
	background-size: 1.16667em .86667em;
	color: #88898D;
	padding: 0 0 0 1.6667em;
}

.Mfoot em {
	padding: 0 1em;
	font-style: normal;
	color: #a6a6a6;
}

.mWrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.mContent {
	padding: 1.2em;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.mContent .ctTit {
	font-size: 1.6em;
	color: #9a9a9a;
	height: 1.1em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}

.mContent .ctTit small {
	font-size: 0.8em;
}

.topHd {
	position: relative;
	height: 2.6em;
	line-height: 2.6em;
	background: #EE7621;
	color: #fff;
	font-size: 1.8em;
	text-align: center;
}

.topHd span {
	font-size: 1.2em;
}

.topHd a {
	position: absolute;
	display: block;
	top: 0;
	width: 1.59em;
	height: 2.6em;
	text-indent: -999em;
	overflow: hidden;
}

.topHd a.back {
	left: 0.5em;
	background: url(back.png) no-repeat 0 50%;
	-webkit-background-size: 0.76667em .96667em;
	-moz-background-size: 0.76667em .96667em;
	-o-background-size: 0.76667em .96667em;
	background-size: 0.76667em .96667em;
	color: #88898D;
}

.topHd a.home {
	right: 0.1em;
	width: 2.1em;
	background: url(home.png) no-repeat 0 50%;
	-webkit-background-size: 1.56667em 1.36667em;
	-moz-background-size: 1.56667em 1.36667em;
	-o-background-size: 1.56667em 1.36667em;
	background-size: 1.56667em 1.36667em;
}

.form {
	margin: 0 0 0.5em;
	font-size: 1.68em;
	width: 100%;
}

.orderBox {
	font-size: 1.48em;
}

.form li {
	margin-bottom: 0.5em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form li.select {
	width: 100%;
	height: 2.8em;
	line-height: 2.8em;
	padding: 0 0.5em;
	background: #fff;
	font-size: 0.88em;
	color: #323232;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form li.select span {
	color: #b7b7b7;
}

.form .input {
	width: 100%;
	height: 2.8em;
	border: 0.07em solid #ababab;
	padding: 0 0.8em;
	font-size: 0.98em;
	color: #333;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form .input70 {
	width: 60%;
}

.form li .money {
	font-size: 1em;
}

.form li.small {
	font-size: 0.9em;
}

.form li .vCode {
	float: right;
	display: block;
	-webkit-box-pack: horizontal;
	margin-left: 10px;
	width: 36%;
	height: 3.05em;
	line-height: 3.25em;
	font-size: 0.8em;
	text-align: center;
	color: #fff;
	background: #898989;
	vertical-align: top;
	cursor: pointer;
}

.form .btnArea {
	margin-top: 1.4em;
}

.form .btn,.form a.btn,.btn,a.btn {
	width: 100%;
	height: 2.64em;
	line-height: 2.64em;
	text-align: center;
	font-size: 1.11em;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-left-style:solid;
   
	background: -webkit-gradient(linear, 0 0, 0 78%, from(#EE7621),
		to(#EE7621) )
}

.form .btn.btnGray {
	background: #8e8e8e;
}

.form a.btn,a.btn {
	display: block;
	font-size: 1.12em;
	font-weight: normal;
}

a.btn {
	font-size: 1.68em;
}

.form a.btnGray,a.btnGray {
	background: #8e8e8e;
}

.form .btn50,.form a.btn50,.btn,a.btn50 {
	width: 50%;
}

.form li.noLogin {
	padding: 0 2em;
	margin: 1.5em 0 2.5em 0;
}

.form li.noLogin a {
	color: #EE7621;
	font-size: 0.88em;
}

.form li.btnTip {
	font-size: 0.9em;
	text-align: center;
}

.form label {
	float: left;
}

.fliBg li {
	padding: 0.6em 0.5em;
	background: #fff;
}

.fliCol3 {
	font-size: 1.4em;
}

.fliCol3 li {
	position: relative;
	padding: 0 1em;
	margin-bottom: 0.1em;
	height: 2.8em;
	line-height: 2.8em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.fliCol3 li span.name {
	width: 45%;
	margin-right: 1em;
	color: #0073c3;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fliCol3 li span.nameB {
	color: #3b3b3b;
}

.fliCol3 li span.price {
	color: #8d8d8d;
	font-size: 0.8em;
}

.fliCol3 li span.price mark {
	color: #f91111;
	padding-left: 0.5em;
}

.formul {
	border: 1px solid #cecece;
	box-shadow: 0 1px 0 #dfdfdf;
}

.formul li {
	min-height: 2.8em;
	line-height: 2.8em;
	margin: 0;
	padding: 0 0.8em;
	border-bottom: 1px solid #cecece;
	background: #fff;
	overflow: visible;
}

.formul li:last-child {
	border-bottom: 0 none;
}

.formul li.btnArea {
	padding: 0;
	background: none;
}

.formul li label {
	float: left;
	width: auto;
	color: #666;
}

.formul li ins.sbtn {
	margin-top: 0.6em;
	line-height: 1.2em !important;
}

.formTit {
	font-size: 1.68em;
	padding-bottom: 0.5em;
}

.charList {
	font-size: 1.3em;
}

.charList li {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #d2d2d2;
}

.charList li span {
	width: 25%;
	text-align: center;
}

.fliLR li span {
	float: right;
	font-size: 0.9em;
}

.fmSelect li {
	position: relative;
	margin-bottom: 0;
	padding: 0.7em;
	font-weight: bold;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc),
		to(#f1f1f1) );
	width: 100%;
	height: 2.8em;
	border: 1px solid #9e9e9e;
	font-size: 0.98em;
	color: #333; border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.fmSelect .arrow {
	position: absolute;
	width: 0.4em;
	height: 0.4em;
	border: #848484 solid;
	border-width: 0.15em 0.15em 0 0;
	margin-top: 0.5em;
	right: 1em;
	-webkit-transform: rotate(135deg);
}

.fmSelect .optLi {
	display: none;
	background: #fff;
	border-top: 0 none;
	font-weight: normal;
}

.transverse li {
	float: left;
	position: relative;
	display: inline-block;
	width: auto;
	clear: none;
}

.transverse li label {
	float: none;
	width: auto;
	clear: none;
}

.cTit {
	text-align: center;
	font-size: 1.48em;
}

.tlist {
	overflow: hidden;
}

.tlist li {
	margin-bottom: 0.1em;
	width: 100%;
	text-align: center;
}

.tlist li a {
	font-size: 1.48em;
	display: block;
	padding: 0.5em 0;
	background: #fff;
}

.cuselect {
	position: relative;
	width: 100%;
	height: 2.8em;
}

.cuselect:after {
	position: absolute;
	top: 0.9em;
	right: 1em;
	content: '';
	width: 0.45em;
	height: 0.45em;
	border: #6d6d6d solid;
	border-width: 0.15em 0.15em 0 0;
	-webkit-transform: rotate(135deg);
}

.cuselect select {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc),
		to(#f1f1f1) );
	padding-left: 0.8em;
	width: 100%;
	height: 2.8em;
	border: 1px solid #9e9e9e;
	font-size: 1em;
	color: #333;
	font-family: "Microsoft Yahei";
}

.mRemark {
	margin: 1em 0;
	text-align: center;
}

.mRemark .nothing {
	background: url(m.png) no-repeat 0 0;
	width: 14em;
	height: 12.6em;
	-webkit-background-size: 12.1em 11.8em;
	-moz-background-size: 12.1em 11.8em;
	-o-background-size: 12.1em 11.8em;
	background-size: 12.1em 11.8em;
}

.mRemark .suc {
	background: url(suc.png) no-repeat 0 0;
	width: 10.2em;
	height: 10em;
	-webkit-background-size: 10.2em auto;
	-moz-background-size: 10.2em auto;
	-o-background-size: 10.2em auto;
	background-size: 10.2em auto;
}

.mRemark .account {
	background: url(account.png) no-repeat 0 0;
	width: 6em;
	height: 6em;
	-webkit-background-size: 6em auto;
	-moz-background-size: 6em auto;
	-o-background-size: 6em auto;
	background-size: 6em auto;
}

.mRemark .iApp {
	background: url(iApp.png) no-repeat 0 0;
	width: 9.6em;
	height: 9.6em;
	-webkit-background-size: 9.6em auto;
	-moz-background-size: 9.6em auto;
	-o-background-size: 9.6em auto;
	background-size: 9.6em auto;
}

.mRemark .iRedBag {
	background: url(iRedBag.png) no-repeat 0 0;
	width: 9.6em;
	height: 9.6em;
	-webkit-background-size: 9.6em auto;
	-moz-background-size: 9.6em auto;
	-o-background-size: 9.6em auto;
	background-size: 9.6em auto;
}

.mRemark p {
	font-size: 1.75em;
	color: #518e30;
}

.mRemark dl {
	padding: 2em 0 4em;
}

.mRemark dl dt {
	font-size: 1.6em;
	color: #333;
}

.mRemark dl dd {
	font-size: 1.1em;
	color: #aaa;
}

.mRemark dl.colored dt {
	font-size: 1.8em;
	color: #0073c3;
	font-weight: bold;
}

.mRemark dl.colored dd {
	font-size: 1.5em;
	color: #333;
}

.mRemark2 p {
	color: #666;
	padding-top: 0.3em;
}

.mRemark .remarkInfo {
	margin-top: 1.5em;
	font-size: 1.6em;
	text-align: center;
}

.tip dl dt,.tip dl dd {
	line-height: 1.6em;
}

.tip dl dt {
	font-weight: bold;
	font-size: 1.45em;
}

.tip dl dd {
	font-size: 1.3em;
	color: #666;
}

.payInfo {
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

.payInfo dd.redable {
	padding: 0.1em 0;
	text-align: right;
	font-size: 1.1em;
	color: #565656;
	border-width: 0.1em 0;
	border-style: solid;
	border-color: #c7c7c7;
}

.payInfo dd.opt select {
	font-size: 1em;
	margin-left: 0.3em;
}

.payInfo .dRadio {
	margin-top: 0.3em;
}

.payInfo .dRadio li {
	float: left;
	width: 50%;
}

.payInfo .payPsw {
	margin-top: 0.5em;
}

.payInfo .payPsw .input {
	width: 100%;
	height: 3em;
	border: 0.1em solid #939393;
	padding: 0 0.5em;
	font-size: 0.88em;
	color: #323232;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #fff6dc;
}

.payInfo .payPsw p:last-child {
	text-align: right;
	font-size: 0.9em;
}

.aBlue a {
	font-size: 1.6em;
	color: #0073c3
}

a.aBlue {
	color: #0073c3
}

.bankArea hgroup {
	padding: 0 0 0.5em 0;
	font-size: 1.6em;
}

.bankArea span.money {
	color: #ee3c13;
	font-size: 1.5em;
}

.bankArea ul li {
	position: relative;
	margin-bottom: 0.1em;
	padding: 0.65em 0;
	border: 0.2em solid #fff;
	cursor: pointer;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.bankArea ul li label {
	display: inline-table;
	width: 10em;
	height: 2.6em;
	text-indent: -9999px;
	cursor: pointer;
}

.bankArea ul li label.alipay {
	width: 9em;
	background: url(alp.png) no-repeat 0 center;
	-webkit-background-size: 8em auto;
	-moz-background-size: 8em auto;
	-o-background-size: 8em auto;
	background-size: 8em auto;
}

.bankArea ul li label.tenpay {
	width: 9em;
	background: url(tep.png) no-repeat 0 center;
	-webkit-background-size: 8em auto;
	-moz-background-size: 8em auto;
	-o-background-size: 8em auto;
	background-size: 8em auto;
}

.bankArea ul li label.card {
	background: url(cdp.png) no-repeat 0 center;
	-webkit-background-size: 9em auto;
	-moz-background-size: 9em auto;
	-o-background-size: 9em auto;
	background-size: 9em auto;
}

.bankArea ul li label.remit {
	background: url(gtp.png) no-repeat 0 center;
	-webkit-background-size: 9em auto;
	-moz-background-size: 9em auto;
	-o-background-size: 9em auto;
	background-size: 9em auto;
}

.bankArea ul li label.wxp {
	background: url(wxp.png) no-repeat 0 center;
	-webkit-background-size: 9em auto;
	-moz-background-size: 9em auto;
	-o-background-size: 9em auto;
	background-size: 9em auto;
}

.bankArea ul li.selected {
	border: 0.2em solid #f60;
}

.tab a {
	float: left;
	display: block;
	position: relative;
	width: 50%;
	color: #696969;
	padding: 0.7em 0;
	font-size: 1.6em;
	text-align: center;
	border-bottom: 0.2em solid #c4c4c4;
}

.tab a.current {
	border-color: #0073c3;
	color: #0073c3;
}

.column2 li {
	clear: none;
	float: left;
	width: 50%;
	text-align: left;
}

.column2 li a {
	margin: 0 0.1em 0 0;
	padding: 0.8em 1em;
}

.column3 li {
	clear: none;
	float: left;
	width: 33%;
}

.column3 li a {
	margin: 0 0.2em;
	padding: 0.5em;
}

.historyList li {
	text-align: left;
}

.historyList li a {
	position: relative;
	padding: 0.8em 1em;
	white-space: nowrap;
	overflow: hidden;
}

.historyList li a:after {
	position: absolute;
	top: 1.3em;
	right: 1em;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border: #6e6e6e solid;
	border-width: 0.13em 0.13em 0 0;
	-webkit-transform: rotate(45deg);
}

.historyList li a .gray {
	color: #aaa;
}

.zimuNav {
	float: right;
	position: relative;
	display: inline-block;
}

.zimuNav a {
	display: block;
	padding: 0.2em 0.4em;
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 0.2em;
	color: #fff;
	background: #a4a4a4;
}

.zimuMain {
	width: 100%;
	display: inline-block;
}

.zimuMain .tlist li a {
	display: block;
	padding: 0.6em 0;
}

.zimuMain hgroup {
	padding: 0.3em 0;
	font-size: 2em;
	color: #646464;
	text-align: center;
}

.goSelect {
	position: relative;
	padding-left: 1em;
	height: 2.8em;
	line-height: 2.8em;
	font-size: 1.45em;
	background: #0073c3;
	color: #fff;
}

.goSelect a {
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 0.6em;
	height: 1.6em;
	line-height: 1.6em;
	padding: 0 0.4em;
	color: #333;
	background: #fcdb00;
}

.selectBox {
	border-radius: 0.5em 0.5em 0 0;
	background: #fff;
	border-bottom: 2px solid #989898;
	overflow: hidden;
}

.selectBox li {
	float: left;
	display: inline-block;
	width: 49.5%;
	padding: 0.2em 0;
	text-align: center;
}

.selectBox li:first-child {
	border-right: 2px solid #989898
}

.selectBox li .cuselect:after {
	border-color: #0073c6;
	border-width: 0.2em 0.2em 0 0;
	width: 0.65em;
	height: 0.65em;
}

.selectBox li .cuselect select {
	height: 2.1em;
	font-size: 1.6em;
	color: #0073c3;
	background: #fff;
	border: 0 none;
}

.sorted {
	height: 3em;
	line-height: 3em;
	margin: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#dcdcdc) );
}

.sorted li {
	float: left;
	display: inline-block;
	width: 49.8%;
	margin-bottom: 0;
	text-align: center;
	font-size: 1.45em;
}

.sorted li:first-child {
	border-right: 1px solid #b5b5b5;
}

.sorted li:last-child {
	border-left: 1px solid #fff;
}

.sorted li i {
	width: 0;
	height: 0;
	margin-left: 0.3em;
}

.sorted li i.desc {
	background: none;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #0073c3;
}

.sorted li i.descGray {
	background: none;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #666;
}

.sorted li i.asc {
	background: none;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid #0073c3;
}

.sorted li i.ascGray {
	background: none;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid #666;
}

.proList li {
	position: relative;
	padding: 0.5em 1.5em;
	margin-bottom: 0.1em;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}

.proList a {
	color: #7b7b7b;
	font-size: 1.45em;
}

.proList p {
	padding: 0.1em 0;
}

.proList .tt {
	font-size: 1em;
	color: #3464c7;
	font-weight: bold;
}

.proList .tt .ico {
	font-size: 0.7em;
	padding: 0;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.5em;
	margin: -0.2em 0.15em 0 0;
	font-weight: normal;
	text-align: center;
}

.proList .po {
	font-size: 1.22em;
	color: #fe6c00;
}

.proList p .price {
	margin-right: 1em;
	font-size: 1.2em;
	color: #fe6c00;
	font-weight: bold;
}

.proList .sbtn {
	font-size: 0.9em;
}

.proList .arrow {
	width: 0.7em;
	height: 0.7em;
	border-right: 0.2em solid #d2d2d2;
	border-bottom: 0.2em solid #d2d2d2;
	margin-top: 0.2em;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

.proList .sbtnGray {
	margin-left: 2em;
}

.keepSave {
	text-align: center;
	font-size: 1.8em;
	cursor: pointer;
}

.keepSave ins {
	margin-right: 0.3em;
}

.userInfo {
	padding: 0.8em;
	font-size: 1.5em;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.uInfoSell {
	padding: 0.7em 0.8em;
}

.userInfo p {
	line-height: 1.4em;
	padding: 0.2em 0;
}

.userInfo p.uInfoG {
	color: #666;
}

.userInfo .userGo {
	margin-top: 0.3em;
}

.userInfo .userGo li {
	width: 33.3%;
}

.userInfo .userGo li:last-child {
	text-align: right;
}

.userInfo .userGo li a {
	color: #5b5b5b;
	vertical-align: middle;
}

.userInfo .userGo .sbtn {
	padding: 0.3em 0.4em;
}

.iBag {
	background: url(iBag.png) no-repeat 0 50%;
	width: 1.5em;
	height: 1.633em;
	vertical-align: top;
	-webkit-background-size: 1.2em 1.3em;
	-moz-background-size: 1.2em 1.3em;
	-o-background-size: 1.2em 1.3em;
	background-size: 1.2em 1.3em;
}

.iPurse {
	background: url(iPurse.png) no-repeat 0 50%;
	width: 1.6em;
	height: 1.643em;
	vertical-align: top;
	-webkit-background-size: 1.31em 1.22em;
	-moz-background-size: 1.31em 1.22em;
	-o-background-size: 1.31em 1.22em;
	background-size: 1.31em 1.22em;
}

.iEye {
	background: url(iEye.png) no-repeat 0 50%;
	width: 2.35em;
	height: 1.433em;
	margin-right: 1em;
	-webkit-background-size: 2.15em 1.05em;
	-moz-background-size: 2.15em 1.05em;
	-o-background-size: 2.15em 1.05em;
	background-size: 2.15em 1.05em;
}

.iEye2 {
	background: url(iEye2.png) no-repeat 0 50%;
	width: 2.35em;
	height: 1.633em;
	-webkit-background-size: 2.15em 1.25em;
	-moz-background-size: 2.15em 1.25em;
	-o-background-size: 2.15em 1.25em;
	background-size: 2.15em 1.25em;
}

.iSafe {
	background: url(iSafe.png) no-repeat 0 50%;
	width: 2.35em;
	height: 1.943em;
	margin-right: 0.1em;
	-webkit-background-size: 2.01em 1.92em;
	-moz-background-size: 2.01em 1.92em;
	-o-background-size: 2.01em 1.92em;
	background-size: 2.01em 1.92em;
}

.iCart {
	background: url(iCart.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.61em 1.52em;
	-moz-background-size: 1.61em 1.52em;
	-o-background-size: 1.61em 1.52em;
	background-size: 1.61em 1.52em;
}

.iReceive {
	background: url(iReceive.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.51em 1.45em;
	-moz-background-size: 1.51em 1.45em;
	-o-background-size: 1.51em 1.45em;
	background-size: 1.51em 1.45em;
}

.iOrder2 {
	background: url(iOrder2.png) no-repeat 0 50%;
	width: 1.95em;
	height: 1.943em;
	-webkit-background-size: 1.71em 1.74em;
	-moz-background-size: 1.71em 1.74em;
	-o-background-size: 1.71em 1.74em;
	background-size: 1.71em 1.74em;
}

.iOrder {
	background: url(iOrder.png) no-repeat 0 50%;
	width: 1.75em;
	height: 1.743em;
	-webkit-background-size: 1.31em 1.34em;
	-moz-background-size: 1.31em 1.34em;
	-o-background-size: 1.31em 1.34em;
	background-size: 1.31em 1.34em;
}

.iHeart {
	background: url(iHeart.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2em;
	-webkit-background-size: 1.51em 1.38em;
	-moz-background-size: 1.51em 1.38em;
	-o-background-size: 1.51em 1.38em;
	background-size: 1.51em 1.38em;
}

.iHeart2 {
	background: url(iHeart2.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2em;
	-webkit-background-size: 1.81em 1.68em;
	-moz-background-size: 1.81em 1.68em;
	-o-background-size: 1.81em 1.68em;
	background-size: 1.81em 1.68em;
}

.iGift {
	background: url(iGift.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.4em 1.4em;
	-moz-background-size: 1.4em 1.4em;
	-o-background-size: 1.4em 1.4em;
	background-size: 1.4em 1.4em;
}

.iPhone {
	background: url(iPhone.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.5em 1.5em;
	-moz-background-size: 1.5em 1.5em;
	-o-background-size: 1.5em 1.5em;
	background-size: 1.5em 1.5em;
}

.iPen {
	background: url(iPen.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.4em 1.4em;
	-moz-background-size: 1.4em 1.4em;
	-o-background-size: 1.4em 1.4em;
	background-size: 1.4em 1.4em;
}

.iDollar {
	background: url(iDollar.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.52em 1.7em;
	-moz-background-size: 1.52em 1.7em;
	-o-background-size: 1.52em 1.7em;
	background-size: 1.52em 1.7em;
}

.iDepot {
	background: url(iDepot.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.4em 1.15em;
	-moz-background-size: 1.4em 1.15em;
	-o-background-size: 1.4em 1.15em;
	background-size: 1.4em 1.15em;
}

.iClock {
	background: url(iClock.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.4em 1.4em;
	-moz-background-size: 1.4em 1.4em;
	-o-background-size: 1.4em 1.4em;
	background-size: 1.4em 1.4em;
}

.iSave {
	background: url(iSave.png) no-repeat 0 50%;
	width: 4.15em;
	height: 5.35em;
	-webkit-background-size: 3.4em 2.5em;
	-moz-background-size: 3.4em 2.5em;
	-o-background-size: 3.4em 2.5em;
	background-size: 3.4em 2.5em;
}

.iQq {
	background: url(iQq.png) no-repeat 0 50%;
	width: 1.5em;
	height: 1.5em;
	-webkit-background-size: 1.4em 1.4em;
	-moz-background-size: 1.4em 1.4em;
	-o-background-size: 1.4em 1.4em;
	background-size: 1.4em 1.4em;
}

.iPenb {
	background: url(iPenb.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 1.4em 1.4em;
	-moz-background-size: 1.4em 1.4em;
	-o-background-size: 1.4em 1.4em;
	background-size: 1.4em 1.4em;
}

.iLock {
	background: url(iLock.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.843em;
	-webkit-background-size: 1.3em auto;
	-moz-background-size: 1.3em auto;
	-o-background-size: 1.3em auto;
	background-size: 1.3em auto;
}

.iMail {
	background: url(iMail.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.61em 1.22em;
	-moz-background-size: 1.61em 1.22em;
	-o-background-size: 1.61em 1.22em;
	background-size: 1.61em 1.22em;
}

.iNews {
	background: url(iNews.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.61em 1.52em;
	-moz-background-size: 1.61em 1.52em;
	-o-background-size: 1.61em 1.52em;
	background-size: 1.61em 1.52em;
}

.iUser {
	background: url(iUser.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.61em 1.52em;
	-moz-background-size: 1.61em 1.52em;
	-o-background-size: 1.61em 1.52em;
	background-size: 1.61em 1.52em;
}

.iKey {
	background: url(iKey.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.61em 1.72em;
	-moz-background-size: 1.61em 1.72em;
	-o-background-size: 1.61em 1.72em;
	background-size: 1.61em 1.72em;
}

.iAccount {
	background: url(iAccount.png) no-repeat 0 50%;
	width: 2.15em;
	height: 1.943em;
	-webkit-background-size: 1.71em 1.32em;
	-moz-background-size: 1.71em 1.32em;
	-o-background-size: 1.71em 1.32em;
	background-size: 1.71em 1.32em;
}

.iCo {
	background: url(iCo.png) no-repeat 0 50%;
	width: 2.35em;
	height: 2.35em;
	-webkit-background-size: 2.05em 2.05em;
	-moz-background-size: 2.05em 2.05em;
	-o-background-size: 2.05em 2.05em;
	background-size: 2.05em 2.05em;
}

.iWait {
	background: url(iWait.png) no-repeat 0 50%;
	width: 6.5em;
	height: 6.5em;
	-webkit-background-size: 6.5em 6.5em;
	-moz-background-size: 6.5em 6.5em;
	-o-background-size: 6.5em 6.5em;
	background-size: 6.5em 6.5em;
}

.iLogo {
	width: 14em;
	height: 4.32em;
	text-indent: -9999em;
	background: url(logo2.png) left top no-repeat;
	-webkit-background-size: 14em auto;
	-moz-background-size: :14em auto;
	-o-background-size: 14em auto;
	background-size: 14em auto;
}

.userTwoCen {
	margin: 0.5em 0;
	overflow: hidden;
	zoom: 1;
}

.userTwoCen li {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.userTwoCen li a {
	margin: 0;
	color: #fff;
	font-size: 1.5em;
}

.userTwoCen li a.seller {
	margin-right: 0.5em;
	background: #de7301;
}

.userTwoCen li a.safe {
	margin-left: 0.5em;
	background: #1aa90f;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.myList li {
	position: relative;
	padding: 0.8em 1em;
	margin-bottom: 0.1em;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.myList li a {
	display: block;
	font-size: 1.45em;
}

.myList li .icon {
	margin-right: 0.3em;
	width: 1.8em;
	height: 1.9em;
}

.myList .arrow {
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	border: #c0c0c0 solid;
	border-width: 0.15em 0.15em 0 0;
	margin-top: 0.5em;
	right: 1em;
	-webkit-transform: rotate(45deg);
}

.orderList {
	font-size: 1.3em;
}

.orderList li {
	position: relative;
	padding: 0.5em 0.8em;
	margin-bottom: 0.1em;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.orderList li p {
	padding: 0.1em 0;
}

.orderList li p:first-child {
	font-weight: bold;
}

.orderList li .iSave {
	position: absolute;
	right: 0;
}

.orderList li .ftb {
	font-size: 1.12em;
}

.redBagList {
	font-size: 1.1em;
}

.redBagList li {
	position: relative;
	padding: 0;
	background: none;
	cursor: pointer;
	margin-bottom: 0.4em;
}

.redBagList li section {
	position: relative;
	padding: 0.5em 1em 0.5em 0.5em;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.redBagList li div {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}

.redBagList li .rExpire {
	position: absolute;
	right: 0.5em;
	top: 1em;
	font-size: 1em;
}

.redBagList li .rSum {
	width: 4.2em;
	height: 3.5em;
	line-height: 4em;
	font-size: 1.3em;
	text-align: center;
	color: #fffa59;
	margin-right: 0.3em;
	background: url(red.png) no-repeat 0 50%;
	-webkit-background-size: 4.2em auto;
	-moz-background-size: 4.2em auto;
	-o-background-size: 4.2em auto;
	background-size: 4.2em auto;
}

.redBagList li .rSum span {
	font-size: 0.6em;
}

.redBagList li .rInfo span {
	color: #989898;
}

.redBagList li.expired {
	color: #989898;
}

.redBagList li.expired .rSum {
	width: 4.2em;
	height: 3.5em;
	line-height: 4em;
	font-size: 1.3em;
	text-align: center;
	color: #b9b9b9;
	margin-right: 1em;
	background: url(redG.png) no-repeat 0 50%;
	-webkit-background-size: 4.2em auto;
	-moz-background-size: 4.2em auto;
	-o-background-size: 4.2em auto;
	background-size: 4.2em auto;
}

.redBagList li .useRed {
	display: none;
	position: relative;
	padding: 0.5em 1em 0.5em 0.5em;
	background: #c02a34;
	color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.redBagList li .useRed .rExpire {
	top: 0.2em;
}

.redBagList li .useRed .rExpire a {
	color: #fff000;
	font-size: 0.9em;
}

.aboutUs p {
	font-size: 1.4em;
	color: #333;
	line-height: 1.8em;
}

.contacTit {
	padding: 1em 0 0.5em;
	font-size: 1.4em;
	color: #0073c3;
}

.contactUs {
	border-color: #aaa;
}

.contactUs li {
	position: relative;
	display: list-item;
	padding: 0.1em 0.8em;
	font-size: 0.98em;
	border-color: #aaa;
	color: #333;
	overflow: hidden;
}

.contactUs li a {
	position: absolute;
	right: 0.8em;
	top: 0;
	color: #0073c3;
}

.adviceForm {
	margin-top: 2em;
}

.adviceForm li {
	position: relative;
}

.adviceForm li .iPenb {
	position: absolute;
	top: -1.5em;
	left: 0.2em;
}

.adviceForm .advice {
	padding: 0.5em;
	width: 100%;
	height: 9em;
	font-size: 0.9em;
	background: #fff;
	border: 0 none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.safeList li {
	position: relative;
	font-size: 1.55em;
	padding: 0.5em 0.88em;
	margin-bottom: 0.1em;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}

.safeList li div {
	display: inline-block;
	vertical-align: middle;
}

.safeList li div.liL s {
	width: 2.15em;
}

.safeList li div.liL s.iPurse {
	background: url(iPurse.png) no-repeat 0 50%;
	height: 1.943em;
	vertical-align: top;
	-webkit-background-size: 1.61em 1.52em;
	-moz-background-size: 1.61em 1.52em;
	-o-background-size: 1.61em 1.52em;
	background-size: 1.61em 1.52em;
}

.safeList li div.liR {
	position: absolute;
	right: 0.5em;
	top: 0.4em;
}

.safeList li div.liC {
	color: #9f9f9f;
	padding: 0 1em;
}

.safeList li a {
	color: #3877cd;
}

.safeList li.warn,.safeList li.warn a {
	color: #ff6816;
}

.safeRank {
	padding: 0.7em 0;
	text-align: center;
	font-size: 1.4em;
}

.safeRank .rank {
	font-size: 1.2em;
}

.safeRank .rank6 {
	background: url(rank6.png) no-repeat 0 50%;
	width: 4.15em;
	height: 2.5em;
	-webkit-background-size: 3.51em 2.02em;
	-moz-background-size: 3.51em 2.02em;
	-o-background-size: 3.51em 2.02em;
	background-size: 3.51em 2.02em;
}

.regSuc {
	padding: 2em 0;
	text-align: center;
	font-size: 1.7em;
	color: #666;
}

.regSuc dt {
	padding-bottom: 0.5em;
	font-size: 1.4em;
	color: #0072c3;
}

.regSuc dd.goHome {
	margin-top: 2em;
}

.regSuc dd.goHome a {
	font-size: 1.1em;
	color: #0072c3;
}

.beforeLogin {
	padding: 3em 5em;
}

.beforeLogin .toLogin a {
	color: #0073c3;
	font-size: 3.5em;
}

.beforeLogin .toLogin p {
	font-size: 1.7em;
}

.beforeLogin .forM {
	margin: 1.5em 0;
	color: #959595;
	font-size: 1.6em;
	text-align: center;
}

.beforeLogin .forM li {
	margin: 1.3em 0;
}

.beforeLogin .forM i {
	width: 2.35em;
	margin-right: 0.3em;
}

.beforeLogin .fastUse a {
	color: #0073c3;
	font-size: 1.6em;
	font-weight: bold;
}

.pages {
	margin-top: 1em;
	font-size: 1.6em;
	text-align: center;
}

.pages a {
	color: #3464c6
}

.pages .pNum {
	padding: 0 0.5em;
}

.moreList {
	margin: 1em 0;
	padding: 0.5em 0;
	background: #666;
	color: #fff;
	font-size: 1.45em;
	text-align: center;
}

.cttBg .form {
	font-size: 1.45em;
}

.cttBg .form li:first-child {
	padding-bottom: 8px;
	border-bottom: 1px solid #e4e4e4;
}

.cttBg .form li:first-child span {
	font-weight: bold;
	font-size: 1.1em;
}

.cttBg .form li:last-child {
	padding-top: 8px;
	border-top: 1px solid #e4e4e4;
}

.cttBg .form .ico {
	font-size: 0.8em;
	margin: -0.25em 0.3em 0 0;
}

.appleReList {
	font-size: 1.4em;
}

.appleReList li {
	position: relative;
	margin-bottom: 0.1em;
	padding: 0.7em 0.8em;
	background: #fff;
}

.appleReList li a {
	font-size: 1.1em;
	color: #0073c3;
	font-weight: bold;
}

.appleReList li .sbtn {
	position: absolute;
	bottom: 0.4em;
	right: 0.8em;
	font-weight: normal;
}

.appleReList li.hot a {
	color: #333;
}

.appleReList li a cite {
	display: inline-block;
	padding: 0 3px;
	margin-right: 3px;
	font-size: 0.9em;
	font-weight: normal;
	color: #aaa;
	font-style: normal;
}

.appleReList li.hot a cite {
	color: #fff;
	background: #ef6646;
}

.searchInside {
	position: relative;
}

.searchInside .input {
	display: inline-block;
	color: #aaa;
	font-size: 1.7em;
	height: 2.5em;
	padding: 0 0.8em;
	width: 70%;
	background: #fff;
	border: 1px solid #c3c3c3;
	border-radius: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.searchInside .sBtn {
	display: inline-block;
	position: relative;
	top: 0.2em;
	width: 26%;
	text-align: center;
	height: 2.4em;
	line-height: 2.4em;
	font-size: 1.7em;
	background: #fff;
	border: 1px solid #c3c3c3;
	border-radius: 20px;
}

.searchInside .queryBox {
	display: none;
	position: absolute;
	padding: 0.8em;
	margin-top: 4px;
	width: 70%;
	background: #fff;
	border: 1px solid #c3c3c3;
	border-radius: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 999;
}

.searchInside .queryBox p {
	color: #666;
	font-size: 1.45em;
	padding: 0.2em 0;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.lastTime hgroup {
	display: inline-block;
	padding: 3px 15px 0;
	color: #fff;
	font-size: 1.4em;
	background: #61b6f1;
	border-radius: 5px 5px 0 0;
}

.lastRecharge {
	padding: 0.4em 2.1em 0.4em 0.8em;
	background: #fff;
	border: 4px solid #61b6f1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.lastRecharge a {
	position: relative;
	display: block;
	font-size: 1.8em;
	color: #0073c3;
	font-weight: bold;
}

.lastRecharge a small {
	position: absolute;
	right: 0;
	top: 0.15em;
	font-weight: normal;
	color: #666;
}

.noteBox {
	padding: 4em 0;
	margin-bottom: 4em;
	text-align: center;
	font-size: 1.6em;
}

.navTab {
	background: -webkit-linear-gradient(top, #ebebeb, #fefefe);
	background: -moz-linear-gradient(top, #ebebeb, #fefefe);
	background: -ms-linear-gradient(top, #ebebeb, #fefefe);
	background: linear-gradient(top, #ebebeb, #fefefe);
	overflow: hidden;
}

.navTab a {
	float: left;
	display: block;
	position: relative;
	width: 33.3%;
	color: #555;
	padding: 0.7em 0;
	font-size: 1.6em;
	text-align: center;
	border-bottom: 0.2em solid #c7c7c7;
}

.navTab a.current {
	border-color: #f60;
	color: #f60;
	font-weight: bold;
}

.faceValue a {
	float: left;
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	height: 2.8em;
	line-height: 2.8em;
	text-align: center;
	width: 31.1%;
	border: 1px solid #a7a8a7;
	background: #f2f3f2;
	border-radius: 0.8em;
}

.faceValue a.selected {
	color: #fff;
	background: #0073c3;
	border-color: #0073c3;
}

.faceValue a.third {
	margin-right: 0;
}

.errorBox {
	padding: 2em 0;
	text-align: center;
}

.errorBox p {
	font-size: 1.68em;
	padding: 0 0 1.2em 0
}

.error404 figure {
	position: relative;
	left: 50%;
	margin-left: -10.125em;
	background: url(e404.png) no-repeat 0 50%;
	width: 20.25em;
	height: 20.25em;
	-webkit-background-size: 20.25em 20.25em;
	-moz-background-size: 20.25em 20.25em;
	-o-background-size: 20.25em 20.25em;
	background-size: 20.25em 20.25em;
}

.eNofind figure {
	position: relative;
	left: 50%;
	margin-left: -9.6em;
	background: url(eNofind.png) no-repeat 0 50%;
	width: 19.2em;
	height: 18.78em;
	-webkit-background-size: 19em 18.7em;
	-moz-background-size: 19em 18.7em;
	-o-background-size: 19em 18.7em;
	background-size: 19em 18.7em;
}

.eNogoods figure {
	position: relative;
	left: 50%;
	margin-left: -10.35em;
	background: url(eNogoods.png) no-repeat 0 50%;
	width: 20.7em;
	height: 20.78em;
	-webkit-background-size: 20.7em 20.78em;
	-moz-background-size: 20.7em 20.78em;
	-o-background-size: 20.7em 20.78em;
	background-size: 20.7em 20.78em;
}

.error404 a.back {
	margin-top: 1em;
	background: url(goBack.png) no-repeat 0 50%;
	width: 7.45em;
	height: 3.543em;
	-webkit-background-size: 7.45em 3.24em;
	-moz-background-size: 7.45em 3.24em;
	-o-background-size: 7.45em 3.24em;
	background-size: 7.45em 3.24em;
	text-indent: -9999px;
}

@media only screen and (max-width:300px) {
	body {
		font-size: 8.33333px !important
	}
	@media only screen and (max-width:300px) {
		body {
			font-size: 8.33333px !important
		}
		.indexWrap {
			max-width: 300px
		}
	}
	@media only screen and (max-width:310px) and (min-width:300px) {
		body {
			font-size: 8.33333px !important
		}
		.indexWrap {
			max-width: 300px
		}
	}
	@media only screen and (max-width:320px) and (min-width:310px) {
		body {
			font-size: 8.88889px !important
		}
		.indexWrap {
			max-width: 320px
		}
	}
	@media only screen and (max-width:360px) and (min-width:320px) {
		body {
			font-size: 8.88889px !important
		}
		.indexWrap {
			max-width: 360px
		}
	}
	@media only screen and (max-width:360px) and (min-width:350px) {
		body {
			font-size: 10px !important
		}
		.indexWrap {
			max-width: 360px
		}
	}
	@media only screen and (max-width:480px) and (min-width:360px) {
		body {
			font-size: 10px !important
		}
		.indexWrap {
			max-width: 480px
		}
	}
	@media only screen and (max-width:480px) and (min-width:470px) {
		body {
			font-size: 13.33333px !important
		}
		.indexWrap {
			max-width: 480px
		}
	}
	@media only screen and (max-width:560px) and (min-width:480px) {
		body {
			font-size: 13.33333px !important
		}
		.indexWrap {
			max-width: 560px
		}
	}
	@media only screen and (max-width:570px) and (min-width:560px) {
		body {
			font-size: 15.83333px !important
		}
		.indexWrap {
			max-width: 570px
		}
	}
	@media only screen and (max-width:640px) and (min-width:570px) {
		body {
			font-size: 15.83333px
		}
		.indexWrap {
			max-width: 640px
		}
	}
	@media only screen and (max-width:640px) and (min-width:630px) {
		body {
			font-size: 17.77778px !important
		}
		.indexWrap {
			max-width: 640px
		}
	}
	@media only screen and (max-width:710px) and (min-width:640px) {
		body {
			font-size: 17.77778px !important
		}
		.indexWrap {
			max-width: 710px
		}
	}
}