.out_header_container{
	background-color: #FFFFFF;
	width: 100%;
	float: left;
	margin: 0 auto;
	border-bottom: 2px solid #ECECEC;
}
.header_container{
	width: 1050px;
	height: 80px;
	margin: 0 auto;
}
.header_logo{
	float:left;
	width:179px;
	height:69px;
	background-image: url("../img/nicexcx.png");
	background-size:179px 69px;
	background-position:right top;
	background-repeat: no-repeat;
	cursor: pointer;
}
.adver{
	width: 800px;
	height:69px;
	float:left;
	
	margin-left: 50px;
}
.adver_main_title{
	float:left;
	width: 100%;
	margin-top: 9px;
	height: 30px;
	line-height:30px;
	font-size:19px;
	font-weight:bold;
}
.adver_little_title{
	
	float: left;
	width: 160px;
	height: 30px;
	margin-left: 10px;
}
.adver_img{
	width: 30px;
	height: 30px;
	float:left;
	background-repeat: no-repeat;
	background-position: center; 
}
.adver_img_one{
	background-image: url("../img/adverone.svg");
	background-size:20px 20px;
}
.adver_img_two{
	background-image: url("../img/adverotwo.svg");
	background-size:20px 20px;
}
.adver_img_three{
	background-image: url("../img/adverothree.svg");
	background-size:20px 20px;
}
.adver_little_name{
	float: left;
	width: 130px;
	height: 30px;
	font-size:12px;
	color: #C0C0C0;
	line-height: 30px;
}
.container_body{
	width: 100%;
	margin: 0 auto;
	
	float: left;
}
.container{
	width: 1040px;
	margin: 0 auto;
}
.about_title{
	margin-top:20px;
	height:30px;
	float: left;
	width: 100%;
	font-size:14px;
	color: #999999;
	border-bottom: 1px solid  rgba(192,192,192, 0.4);
}
.about_detail{
	float: left;
	width: 100%;
	margin-top: 30px;
	font-size:14px;
	line-height: 30px;
}
a:link, a:visited { color: #999999; text-decoration: none; }

a:hover { color: #FF8C00; }
