*{font-family:microsoft yahei,tahoma,arial,sans-serif; color:#333;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html {height: 100%; width: 100%; font-size: 625%; outline: 0; -webkit-text-size-adjust:none;}
body {height: 100%; margin: 0; -webkit-user-select: none; position: relative;
background:#f5f5f5;
overflow-y:scroll;overflow-x:hidden; font-size:.18rem;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
img{vertical-align:middle;border:0}
ul,ol,li{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
em,i{font-style:normal}
input,img{vertical-align:middle}
input,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;border:0;border-radius:0;}
input,select,button,textarea{outline:0}
a{color:#333;text-decoration:none;outline:0}
a:active,a:hover,a.current{outline:0}
.back{
	background: url(../../img/MobileImg/back.svg) no-repeat center .05rem;background-size:.6rem .6rem;
	float: left;
	height:.7rem;
	width:10%;
	margin-left:2%;
	text-align:center;
}
.list_bar{
	background: linear-gradient(rgba(238,118,33,.9), rgba(255,140,0,0.2));
	height:.7rem; 
	top:0; 
	left:0; 
	right:0; 
	z-index:9999;
	}
.list_bar .list_bar_title{
	text-align:center; 
	color:#FFFAFA; 
	font-size:.3rem; 
	font-weight:bold;
	height:.7rem;
	width:76%; 
	margin:0 auto;
	line-height:.7rem;
	background:url(../../img/MobileImg/darrico_w.svg) right center no-repeat; 
	background-size:.2rem .2rem; 
	float:left;
	}

.publish{
	float: right;
	height:.7rem;
	width:10%;
	margin-right:2%;
	text-align:center;
	background: url(../../img/MobileImg/marvelous.svg) no-repeat center .05rem;background-size:.6rem .6rem;
}
.condition{
	background:#fff;
	height:.6rem; 
	line-height:.6rem;
	border-bottom:1px dotted #EE7621;
	text-align: center;
}
.select_title_city{
	
	font-size:.27rem; 
	line-height:.3rem;
	text-align:center;
	height:.3rem; 
	float:right;
	margin-right:10%;
	
	color:#EE7621;	
	margin-top:.15rem;


}
.title_container_div{
	height:.6rem; 
	line-height:.6rem;
	text-align: center;
	float: left;
	width: 44%;
	}

.select_title_position{
	font-size:.27rem; 
	line-height:.3rem;
	text-align:right;
	height:.3rem; 
	float:left;
	margin-top: .15rem;
	padding-right:.3rem;
	color:#EE7621;	
	background:url(../../img/MobileImg/down_arrow.svg) right center no-repeat;
	background-size:.2rem .2rem;
}
.select_title_icon{
	float:left;
	width:.3rem;
	height:.3rem; 
	margin-top: .15rem;
	background:url(../../img/MobileImg/down_arrow.svg) right center no-repeat;
	background-size:.2rem .2rem;

}

.list_container{
	position:relative;
	background-color: #fff;
	width: 90%;
	margin-left:5%;
	height: 1.6rem;
	border-radius:.2rem;
	-moz-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    -webkit-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    margin-top: .5rem;
}
.book{
	height: 1.6rem;
	width: .4rem;
    background: -webkit-linear-gradient(left, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* ��׼���﷨ */
	float: left;
	border-radius:.2rem 0 0 .2rem;
}
.book_colse{
	height: 1.6rem;
	width: .4rem;
    background: -webkit-linear-gradient(left, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(220,220,220,.1) , rgba(220,220,220,.9)); /* ��׼���﷨ */
	float: left;
	display: none;
}
.close_container{	
width: 25px;
height: 20px;
position: absolute;
bottom:0;
right:0;
-webkit-border-radius: 0 0 30px 0;
-moz-border-radius: 0 0 30px 0;
border-radius: 0 0 30px 0;
-webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
-moz-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
box-shadow:-2px -2px 5px rgba(0, 0, 0, 0.3);
-webkit-transform: rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
-moz-transform: rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
-o-transform: rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
transform: rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
}
.message_title{
	text-align:center;
	font-size:.3rem; 
	line-height:.5rem;
	overflow:hidden; 
	height:.6rem; 
	width:60%;
	margin-left:10%;
	display:block; 
	font-weight:bold; 
	float:left;
	text-align: center;
	}
.detail_container{
	float:left;
	width: 60%;
	height: 1.7rem;	
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tishi{
	text-align: center;
	width: 100%;
	color: #FFA54F;
}
.cl_erweiImg{
	display: none;
}
.list_appImg{
	float: left;
	width: 1rem;
	height: 1rem;
	margin-left:10px;
	margin-top: 16px;
}
.company_message_common{
	font-size:.18rem; 
	line-height:.3rem;
	height:.3rem; 
	width:60%;
	
	display:block;
	float:left; 
	padding-left:.25rem; 
	color:#666;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}	
.company_name{

	margin-left: 5%;
	text-align:left;
	padding-left:.3rem;
	background:url(../../img/MobileImg/company.svg) left center no-repeat; 
	background-size:.2rem .2rem;
	
	
}	
.company_money{
	text-align:left;
	padding-left:.3rem;
    margin-left: 5%;
	background:url(../../img/MobileImg/money.svg) left center no-repeat; 
	background-size:.2rem .2rem; 	
}

.company_adress{
	text-align:left;
	padding-left:.3rem;
	margin-left: 5%;
	background:url(../../img/MobileImg/interview_adress.svg) left center no-repeat; 
	background-size:.2rem .2rem; 
	
}
.company_start_time{
	text-align:left;
	padding-left:.3rem;
	margin-left: 5%;
	background:url(../../img/MobileImg/time_start.svg) left center no-repeat; 
	background-size:.2rem .2rem; 	
}
.company_end_time{
	text-align:left;
	padding-left:.3rem;
	margin-left: 5%;
	background:url(../../img/MobileImg/time_end.svg) left center no-repeat; 
	background-size:.2rem .2rem; 	
}
.heart{
	margin-right:.1rem;
	float: right;
	width: .5rem;
	height:.5rem;
	
}
.heart_favorite_image{
	width: .5rem;
	height:.5rem;
	
	background:url(../../img/MobileImg/heart.svg) center center no-repeat; 
	background-size:.5rem .5rem; 
}
.heart_favorite_image_action{
    width: .5rem;
	height:.5rem;
	background:url(../../img/MobileImg/heart_dot.svg) center center no-repeat; 
	background-size:.5rem .5rem; 
}
.container{
	width: 100%;
	margin-top: .3rem;
}
.clip{
	background:url(../../img/MobileImg/dot.svg) center center no-repeat; 
	background-size:.4rem .4rem; 
	width: .4rem;
	height: .4rem;
	float: left;
	
	
}
.empty{
	
	width: 100%;	
}
.no_favorite_word{
	height:.4rem;
	width:70%;
	float:left;
	text-align:right;
	margin-top:2.8rem;
	font-size: .3rem;
	color: #D3D3D3;
}
.no_favorite_image{
	
	height:.4rem;
	width:.4rem;
	margin-top:2.8rem;
	float:left;
	background:url(../../img/MobileImg/no_favorite.svg) right center no-repeat; 
	background-size:.4rem .4rem; 
}
.not_job{
	display: none;
}
.find_private{
	width:90%;
	
}
.loader{
	float: left;
	margin-top: .6rem;
	display: none;
}
.loader_word{
	display: none;
	margin-left: 30%;
	color: #EE7621;
	float: left;
	width: 1rem;
	margin-top: .6rem;
}
.collect{
	display:none;
	color: #EE7621;
	font-size:.15rem; 
}

#wrapper {
	position:absolute; 
	z-index:1;
	top:1.4rem; 
	bottom:0px; 
	left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	width:100%;
}
.pullLabel{
    position:relative;
	width: 50%;
	text-align: center;
	color:#EE7621; 
	font-size:.25rem; 
	margin-left: 40%;
}

.job_select_container{
	position:fixed;
	height: 7.3rem;
	width: 90%;
	margin-left: 5%;
	margin-top:.2rem;
	border-radius:.2rem;
	z-index:6666;
	border:1px dotted #EE7621;
	background-color: white;
	
}
.job_select_container_display{
	display: none;
}
.job_class{
	color: black;
	font-size: .25rem;
	height: .5rem;
	line-height: .5rem;
	margin-top: .2rem;
	margin-left: .2rem;
	width: 45%;
	text-align: left;
	float: left;
	padding-left: .1rem;
}
.select_money_checkmark{
	-moz-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.5);
    -webkit-box-shadow:1px 1px 2px hsla(0, 0, 0, 0.5);
    box-shadow:2px 3px 5px hsla(0, 0%, 0%, 0.5);
    border-radius:.2rem;
	background:url(../../img/MobileImg/select_checkmark.svg) 5% center no-repeat; 
	background-size:.25rem .25rem; 
}